/*/
///  popup.css
///  TextClipHistory
///
///  Created by Hiroyuki KITAGO on 2024/11/01.
/*/
@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

:root {
    color-scheme: light dark;
}

* {
  -webkit-tap-highlight-color: rgb(0 0 0/0);
  -webkit-user-select: none;
  -webkit-touch-callout :none;
  -webkit-user-drag: none;
}

html {
  font: -apple-system-body;
}

body {
  width: 452px;
  margin: 15px 0;
  padding: 0;
}

body.os-ios {
  width: 100%;
  margin: 0;
}

body.os-ios, body.os-ipados {
  background-color: rgb(240 242 242);
}

.rtl {
  direction: rtl;
  text-align: right;
}

nav {
  margin: 0 15px 15px;
  display: none;
  border-radius: 15px;
  background-color: rgb(254 255 255);
}

#history-toolbar {
  display: flex;
  -webkit-flex-direction: column;

  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
  gap: 5px;
}

#history-toolbar button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  padding: 7px 0px;
  cursor: pointer;
  margin: 0;
  font-size: 1rem;
  width: calc(100% - 2 * 15px);
  border-width: 0;
  border-radius: 25px;
}

button#clearAllHistory {
  color: white;
  background-color: rgb(0 136 254);
}

button#clearAllHistory:active {
  background-color: rgb(209 209 213);
}

.os-macos button#clearAllHistory:active,
.os-macos button#clearAllHistory:focus {
  background-color: rgb(47 108 222);
}


#history-options {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2 * 15px);
}

#history-options button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.rtl #history-options button {
  margin: 0px;
}

#history-options button.selected {
  color: rgb(70 146 254);
  background-color: rgb(240 242 242);
}

#history-options button:not(.selected) {
  opacity: 0.5;
  color: inherit;
  -webkit-text-fill-color: inherit;
}

.delete-button {
  white-space: nowrap;
  color: rgb(70 146 254);
}

.toggle-option {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.toggle-option::before {
  visibility: hidden;
  content: '✔︎';
  font-size: 0.75rem;
  color: rgb(70 146 254);
  margin: 0 0.25rem;
}

.toggle-option.selected::before {
  visibility: visible;
}

.toggle-option.selected {
  color: rgb(70 146 254);
  cursor: initial;
}

main {
  min-height: 38px;
}

main > h2#pinnedLabel {
  margin: 0 30px 10px;
  font-size: 1rem;
  color: rgb(33 33 33/.7);
}

main > ul {
  list-style: none;
  padding: 0;
  margin: 0 15px 15px;
  overflow: hidden;
  border-radius: 15px;
}

main > ul > li {
  min-height: 38px;
  background-color: rgb(254 255 255);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 15px;
}

main > ul > li:not(:last-child) {
  margin-bottom: 1px;
}

main > ul > li.selected {
  background-color: rgb(210 209 215);
}

main > ul > li > div {
  margin: 10px 0px;
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  flex: 1;
}

main > ul > li > span.iconPinWrapper {
  display: none;
}

main > ul.isEditMode > li > span.iconPinWrapper {
  display: inline-flex;
}

.iconPinWrapper,
.iconCopyWrapper {
  background-color: rgb(255 255 255/.8);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}

.iconPinWrapper > img,
.iconCopyWrapper > img {
  width: 55%;
  height: auto;
  margin: 0px;
}

main > ul.isEditMode > li > span.iconPinWrapper {
  background-color: rgb(255 255 255/.8);
/*  display: initial;*/
/*  opacity:1;*/
}

main > ul.isEditMode > li > span.iconCopyWrapper {
  display: none;
}

/* Pin-Toggle related animation */
.history-item {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.history-item.fade-out {
  opacity: 0;
}

.history-item.fade-in {
  opacity: 1;
}

main > div {
  margin: 0 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin: 0 15px 5px;
}

footer > div {
  margin: 0 15px;
  cursor: pointer;
  color: rgb(70 146 254);
}

#editDone {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  #history-options button:hover:not(.selected) {
    opacity: 1;
/*    color: rgb(70 146 254);*/
  }
  
  .delete-button:hover {
/*    opacity: 0.5;*/
  }
  
  /*  main > ul > li.hover {*/
  main > ul:not(.isEditMode) > li.hover {
    background-color: rgb(210 209 215);
    cursor: pointer;
  }
  
  main > ul > li > span > img:hover {
    opacity: 1;
  }
  
  main > ul > li.hover > span > img {
    display: inline-block;
  }
  
  main > ul > li.hover > span > img.iconCopy {
    opacity: 1;
  }
  
  main > ul > li.hover > span > img.iconCopy.fadeIn {
    opacity: 0;
    animation: popIn 0.3s ease-out forwards;
  }

  main > ul > li > span > img.hover {
    opacity: 1;
  }

  footer > div.hover {
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: dark) {
  body.os-ios, body.os-ipados {
    background-color: rgb(30 30 30);
  }

  main > h2#pinnedLabel {
    color: rgb(255 255 255/.7);
  }

  nav {
    background-color: rgb(44 43 45);
  }

  main > ul > li {
    background-color: rgb(44 43 45);
  }

  #history-options button.selected {
    background-color: rgb(53 53 53);
  }

/*  @media (hover: hover) and (pointer: fine) {*/
/*    main > ul > li.hover {*/
/*      background-color: rgb(58 57 59);*/
/*    }*/
/*  }*/
  @media (hover: hover) and (pointer: fine) {
    main > ul:not(.isEditMode) > li.hover {
      background-color: rgb(58 57 59);
    }
  }

  main > ul > li.selected {
    background-color: rgb(58 57 59);
  }

  .iconCopyWrapper {
    background-color: rgb(53 53 53/.8);
  }

  main > ul.isEditMode > li > span.iconPinWrapper {
/*    background-color: rgb(53 53 53/.7);*/
  }

}

@supports (-apple-visual-effect: -apple-system-glass-material) {
  html {
    background: transparent;
    -apple-visual-effect: -apple-system-glass-material;
  }
  
  body {
    background: transparent;
  }
  
}
