.textcliphistory-ext-popup {
  position: absolute;
  padding: 4px 10px;
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 9px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', sans-serif;
  pointer-events: none;
  display: none;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  line-height: normal;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgb(255 255 255 / 60%);
  color: black;
}

@media (prefers-color-scheme: dark) {
  .textcliphistory-ext-popup {
    border: 1px solid rgb(255 255 255 / 20%);
    background: rgb(0 0 0 / 60%);
    color: white;
  }
}
